.hero{
    display:flex;
    align-items:center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    margin-top: 150px;
    border-radius: 50%;
    border: solid black 1px;
}

.hero h1 {
    text-align: center;
    width: 60%;
    font-size: 50px;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(257deg, #df8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width:50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-btn {
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 550;
    color: #000000;
    background: linear-gradient(90deg, #ff00cc, #ff6a00);
    transition: all 0.3s ease;
}

.hero-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 105, 0, 0.5);
}

.connect-btn {
    background: linear-gradient(90deg, #ff00cc, #3333ff);
    padding: 20px;
}

.resume-btn {
    background: linear-gradient(90deg, #ff6a00, #ffcc00);
    padding: 20px;
}


.hero-connect:hover {
    border: 2px solid #000000;
}

.hero-resume:hover {
    border-color: #b415ff;
}

@media (max-width: 768px) {
    .hero img {
        width: 130px;
        height: 130px;
        margin-top: 60px;
    }

    .hero h1 {
        font-size: 28px;
        width: 100%;
    }

    .hero p {
        font-size: 16px;
        width: 90%;
    }

    .hero-action {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .hero {
        margin-top: 80px;
        gap: 20px;
    }

    .hero img {
        width: 150px;
        margin-top: 20px;
    }

    .hero h1 {
        font-size: 22px;
        width: 90%;
    }

    .hero p {
        width: 85%;
        font-size: 14px;
        line-height: 26px;
    }

    .hero-action {
        flex-direction: column;
        gap: 15px;
        font-size: 16px;
    }

    .hero-connect {
        padding: 15px 30px;
    }

    .hero-resume {
        padding: 15px 40px;
    }
}
