.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about title {
    position: relative;
}

.about-title h1 {
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-left img {
    width: 1200px;
    height: 90%;
    border-radius: 10px;
    object-fit: cover;
}

.about-section {
    display: flex;
    gap: 80px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.category-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000000;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
}

.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p {
    font-size: 22px;
    font-weight: 500;
}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievement:hover {
    transform: scale(1.12);
    transition: 0.5s;
}


/*tablet reponsive*/
@media (max-width: 768px) {
    .about-title h1 {
        font-size: 38px;
    }

    .about-section {
        flex-direction: column;
        gap: 40px;
    }

    .about-left img {
        width: 200px;
    }

    .about-para p {
        font-size: 16px;
    }

    .about-achievement h1 {
        font-size: 36px;
    }
}

/*smartphone responsive*/
@media (max-width: 480px) {
    .about {
        margin: 40px 20px;
        gap: 40px;
    }

    .about-title h1 {
        font-size: 30px;
    }

    .about-section {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .about-left img {
        width: 200px;
        height: auto;
        border-radius: 10px;
    }

    .about-right {
        gap: 30px;
    }

    .about-para {
        font-size: 16px;
        text-align: center;
    }

    .about-skill p {
        font-size: 16px;
        min-width: 100px;
    }

    .about-skill hr {
        height: 5px;
    }

    .about-achievements {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .about-achievement h1 {
        font-size: 30px;
    }

    .about-achievement p {
        font-size: 16px;
    }
}
