@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: #f5f5f5;
    color: #000000;
    font-family: 'outfit', sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
    transition: background-color 0.4s, color 0.4s;
}

body.dark-mode a {
    color: white;
}

body.dark-mode .navbar {
    background-color: #111;
}

body.dark-mode .nav-menu a {
    color: #f5f5f5;
}

@media (max-width: 768px) {
    body.dark-mode .hamburger {
        color: #fff;
    }

    body.dark-mode .nav-menu a {
        color: #f5f5f5;
    }
}